body {
    background-color: #EEEEEE;
}
#layout_container {
    width: 500px;
    margin: 0px auto;
}

form {
    width: 100%;
    background-color: white;
    min-height: 400px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px lightgrey;
}

#single_input, 
#two_inputs,
#three_inputs {
    display: flex;
}

#single_input input,
#two_inputs input {
    flex: 1;
    margin: 12px;
    padding: 12px;
}

#birthday_input input,
 #gender_input input {
    width: 33%;
    margin: 12px;
    padding: 12px;
}

#password_input,
#birthday_input,
#gender_input {
    display: flex;
}

#password_input input {
    flex: 1;
    margin: 12px;
    padding: 12px;
}

#sign_up input input {
    display: flex;
}

#sign_up input {
    flex: 1;
    margin: 12px;
    padding: 12px;
    background-color: rgb(31, 211, 88);
    width: 33%;
    flex-direction: center;
}