body {
    background-color: #EEEEEE;
}
#layout_container {
    width: 500px;
    margin: 0px auto;
}

form {
    width: 100%;
    background-color: white;
    min-height: 400px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px lightgrey;
}

#single_input, 
#two_inputs,
#three_inputs {
    display: flex;
}

#single_input input,
#two_inputs input {
    flex: 1;
    margin: 12px;
    padding: 12px;
}

#birthday_input input {
    width: 33%;
    margin: 12px;
    padding: 12px;
}

#password_input,
#birthday_input {
    display: flex;
}

#password_input input {
    flex: 1;
    margin: 12px;
    padding: 12px;
}

#sign_up input input {
    display: flex;
}

#sign_up input {
    flex: 1;
    border: none;
    margin: 12px;
    padding: 12px;
    background-color: rgb(23, 170, 70);
    color: white;
    width: 33%;
    flex-direction: center;
}

#gender_input {
   display: flex;
}

#male_input,
#female_input,
#custom_input {
    flex: 1;
    border: 2px solid lightgrey;
    margin: 12px;
    padding: 12px;
}

#birthday_input {
    display: flex;
}
#month_name_id,
#day_number_id,
#year_number_id {
    flex: 1;
    border: 2px solid lightgrey;
    margin: 12px;
    padding: 12px;
}

#first_name_id:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

#first_name_id:valid {
    background-color: lightgreen;
    border-bottom: 4px solid green;
}
#last_name_id:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

#last_name_id:valid {
    background-color: lightgreen;
    border-bottom: 4px solid green;
}

#new_password_id:invalid {
    background-color: lightcoral;
    border-bottom: 4px solid red;
}

#new_password_id:valid {
    background-color: lightgreen;
    border-bottom: 4px solid green;
}

#account {
    color: rgb(17, 135, 239);
}
