body {
    margin: 0px;
}
nav {
    background-color: aqua;
    padding: 24px;
}
ul {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    list-style-type: none;
    max-width: 800px;
    margin: 0px auto;
}
ul li {
    margin: 12px;
}
li a {
    color: blue;
    text-decoration: none;
    font-family: font-family 'Lobster', cursive;
}
#home {
    margin-right: auto;
}
li {
    color: blue;
    font-family: 'Lobster', cursive;

}
.dropdown_container {
    position: relative;
}
.dropdown_container:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.dropdown_menu {
    background-color: beige;
    position: absolute;
    flex-direction: column;
    width: 250%;
    left: 0px;
    top: 75%; /* modify as necessary */
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        top 0.5s;
}
li style {
    font-size: 8px;
}
.new_bakery_display {
        width: 250px;
        border: 1px solid lightgrey;
    }
    .new_bakery_display img {
        width:100%;
    }
    .left {
        float: left;
    }
    .phone_display {
        width: 250px;
        border: 1px solid lightgrey;
    }
    .phone_display img {
        width: 100%;
    }
    .pastry_display {
        width: 250px;
        border: 1px solid lightgrey;
    }
    .pastry_display img {
        width: 100%;
    }
    .drinks_display {
        width: 250px;
        border: 1px solid lightgrey;
    }
    .drinks_display img {
        width: 100%;
    }
    .right {
        float: right;
    }
@media screen and (max-width: 768px) {
    ul {
        flex-direction: column;
    }
}
    